<body>
  <nav>
    <div class="button-container">
      <div class="button">
      <a href="http://localhost:4200/">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
      <div class="button">
      <a routerLink="/register">Team Registration</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>

      <div class="button">
      <a routerLink="/mentor-registration">Mentor Registration</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>

      <div class="button">
      <a routerLink="/vote-for-idea">Vote For Ideas</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>

      <div class="button">
      <a routerLink="/chat">Chat Application</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>

      <div class="button">
      <a routerLink="/checkpoint-submission">Check Point Submission</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
      <div class="button">
      <a routerLink="/jury">Jury Review</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
      <div class="button">
      <a routerLink="/timer">Timer</a>&nbsp;
    </div>
    </div>
  </nav>
</body>
<router-outlet></router-outlet>
