/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: hwb(310 7% 51%);
    margin: 0;
    padding: 0;
  }
  
  h1 {
    background-color: hsl(252, 45%, 50%);
    color: #fff;
    padding: 10px;
  }
  
  .idea {
    background-color: hwb(134 8% 38%);
    margin: 20px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(7, 1, 1, 0);
  }
  
  .vote-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .vote-count {
    font-weight: bold;
  }
  